@font-face {
    font-family: '72';
    src: local('72 Black'), url('./72-Black.woff') format('woff'),
         url('./72-Black-full.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: '72';
    src: local('72 Bold'), url('./72-Bold.woff') format('woff'),
         url('./72-Bold-full.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  /* @font-face {
    font-family: '72';
    src: local('72 Bold Italic'), url('./72-BoldItalic.woff') format('woff'),
         url('./72-BoldItalic-full.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  } */
/*   
  @font-face {
    font-family: '72';
    src: local('72 Condensed'), url('./72-Condensed.woff') format('woff'),
         url('./72-Condensed-full.woff') format('woff');
    font-weight: 400;
    font-stretch: condensed;
    font-style: normal;
    font-display: swap;
  } */
  
  /* @font-face {
    font-family: '72';
    src: local('72 Condensed Bold'), url('./72-CondensedBold.woff') format('woff'),
         url('./72-CondensedBold-full.woff') format('woff');
    font-weight: 700;
    font-stretch: condensed;
    font-style: normal;
    font-display: swap;
  } */
  
  /* @font-face {
    font-family: '72';
    src: local('72 Italic'), url('./72-Italic.woff') format('woff'),
         url('./72-Italic-full.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  } */
  
  /* @font-face {
    font-family: '72';
    src: local('72 Light'), url('./72-Light.woff') format('woff'),
         url('./72-Light-full.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  } */
  
  /* @font-face {
    font-family: '72';
    src: local('72 Regular'), url('./72-Regular.woff') format('woff'),
         url('./72-Regular-full.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  } */
  
  /* @font-face {
    font-family: '72';
    src: local('72 Semibold'), url('./72-Semibold.woff') format('woff'),
         url('./72-Semibold-full.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  } */
  
  /* @font-face {
    font-family: '72';
    src: local('72 Semibold Duplex'), url('./72-SemiboldDuplex.woff') format('woff'),
         url('./72-SemiboldDuplex-full.woff') format('woff');
    font-weight: 650;
    font-style: normal;
    font-display: swap;
  } */
  
  /* === SAP 72 Mono Font Family === */
  
  @font-face {
    font-family: '72Mono';
    src: local('72 Mono Bold'), url('./72Mono-Bold-full.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  